{{ form_start(form) }}
    {{ form_errors(form) }}
    {#{{ form_widget(form) }}#}

    <div class="row">
        <div class="col-sm-6 pl-5 pr-5 pt-0">
            <h2 class="mb-4">Account information</h2>

            <div class="form-group row">
                {{ form_label(form.accountName, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}})}}
                <div class="col-sm-8">{{ form_widget(form.accountName) }}</div>
            </div>

            <div class="form-group row">
                {{ form_label(form.accountType, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}})}}
                <div class="col-sm-8">{{ form_widget(form.accountType) }}</div>
            </div>

            <div class="form-group row">
                {{ form_label(form.email1, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}})}}
                <div class="col-sm-8">{{ form_widget(form.email1) }}</div>
            </div>

            <div class="form-group row">
                {{ form_label(form.email2, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}})}}
                <div class="col-sm-8">{{ form_widget(form.email2) }}</div>
            </div>

            <div class="form-group row">
                {{ form_label(form.phone, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}})}}
                <div class="col-sm-8">{{ form_widget(form.phone) }}</div>
            </div>

            <div class="form-group row">
                {{ form_label(form.otherPhone, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}})}}
                <div class="col-sm-8">{{ form_widget(form.otherPhone) }}</div>
            </div>

            <div class="form-group row">
                {{ form_label(form.fax, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}})}}
                <div class="col-sm-8">{{ form_widget(form.fax) }}</div>
            </div>

            <div class="form-group row">
                {{ form_label(form.website, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}})}}
                <div class="col-sm-8">{{ form_widget(form.website) }}</div>
            </div>

            <div class="form-group row">
                {{ form_label(form.annualRevenue, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}})}}
                <div class="col-sm-8">{{ form_widget(form.annualRevenue) }}</div>
            </div>

            <div class="form-group row">
                {{ form_label(form.industry, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}})}}
                <div class="col-sm-8">{{ form_widget(form.industry) }}</div>
            </div>

            <hr />

            <div>
                <button class="btn btn-block btn-success btn-lg mb-3">{{ button_label|default('Save') }}</button>
            </div>
        </div>

        <div class="col-sm-6 pl-5 pr-5 pt-0">
            <h2 class="mb-4">Account billing address</h2>
            <div>
                <div class="form-group row">
                    {{ form_label(form.billingStreet, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}})}}
                    <div class="col-sm-8">{{ form_widget(form.billingStreet) }}</div>
                </div>

                <div class="form-group row">
                    {{ form_label(form.billingCity, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}})}}
                    <div class="col-sm-8">{{ form_widget(form.billingCity) }}</div>
                </div>

                <div class="form-group row">
                    {{ form_label(form.billingZipcode, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}})}}
                    <div class="col-sm-8">{{ form_widget(form.billingZipcode) }}</div>
                </div>

                <div class="form-group row">
                    {{ form_label(form.billingCountry, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}})}}
                    <div class="col-sm-8">{{ form_widget(form.billingCountry) }}</div>
                </div>
            </div>
        </div>

    </div>

{{ form_end(form) }}
