{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Products</h1>

    <table class="table bg-white border">
        <thead>
            <tr>
                <th>Id</th>
                <th>ProductName</th>
                <th>Manufacturer</th>
                <th>Price</th>
                <th>Discontinued</th>
                <th>QuantityInStock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.productName }}</td>
                <td>{{ product.manufacturer }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.discontinued ? 'Yes' : 'No' }}</td>
                <td>{{ product.quantityInStock }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}
